* {
    margin: 0%;
    padding: 0%;
}

#row1 {
    background-color: #2C3F50;
    height: 30px;
    width: 100%;
}

.top-section {
    width: 90%;
    margin: 0 auto;
}

.left-links {
    width: 60%;
    float: left;
    height: 100%
}

.left-links ul {}

.left-links ul li {
    float: left;
    list-style: none;
    margin-left: 10px;
    color: white;
    line-height: 30px;
}

.left-links ul li a {
    color: white;
    text-decoration: none;
    
}

.social-links {
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}
#fb{
    border-right: 2px solid black;
}
.social-links i {
    color: white;
    line-height: 30px;
   border-right:2px solid #000;
    padding-right: 9px;
    
}
/*row1 css end */
/*row2 css start*/
#row2{
    height: 80px;
    width: 100%;
    background-color: white;
}
.header_section{
    width: 90%;
    margin: 0 auto;
}
.logo{
    width: 25%;
    float: left;

}
.logo img{
    height: 40px;
    margin-top: 10px;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{

}
.menu ul li{
    float: left;
    margin-left: 7px;
    line-height:80px;
    text-align: right;
    width: 102px;
    text-align: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #455964;
}
.menu ul li i{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #000;
    line-height: 30px;
}
/*row2 css end */
/*row3 is start*/
#row3{
    background-image: url(https://plus.unsplash.com/premium_photo-1661962726504-fa8f464a1bb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxvbmRvbiUyMGJyaWRnZSUyMGF0JTIwbmlnaHR8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    height: 500px;
    width: 100%;
    position: relative;

}
.overlay-row3{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0, .4);
}
.banner_section{
    text-align: center;
    color: white;
    position:absolute;
    width: 100%;
    margin: 0 auto;
}
.banner_content{
  

    
}
.banner_content h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    padding-top: 170px;
}
.banner_content p{
    font-size: 20px;
    font-weight: 600;
text-transform: capitalize;
margin-top: 30px;
margin-bottom: 40px;
}
.banner_botton{

}
.banner_button button{
    padding: 10px 20px;
    background: none;
    border: 2px solid ;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner_button button:hover{
    background-color: #455964;
    transition: 1s;

}
/*row3 is end */
/*row4 css is start*/
#row4{
    height: 80px;
    width: 100%;
    background: #0E192B;
}
.form_section{
    width: 90%;
    margin: 0 auto;

}
.text_part{
    width: 15%;
    float: left;
    text-transform: uppercase;

}
.text_part h4{}
.text_part h1{
    color: white;
}
.form_part{
    padding-top: 23px;
}
.form_part form{
    width: 80%;
    float: left;
}
.input_item{
    float: left;
    padding-top: 10px;
}
.input_item label{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    padding-right: 10px;
    margin-left: 50px;
}
.input_item input[type="text"]{
    padding: 8px;
    width: 320px;
    color: gray;
}
.input_item input[type="date"]{
    padding: 7px;
    width: 316px;
    color: gray;
}
.input_item i{
    color: black;
    position: absolute;
    margin-left: -26px;
    line-height: 35px;

}
.form_part button{
    padding: 5px;
    margin-top: px;
    margin-left: 15px;
}
/*row4 css ias end*/
/*row5 css is start*/
#row5{
    height: 500px;
    width: 100%;
    background: #fff;

}
.offer_section{
width: 90%;
margin:0 auto;
}
.offer_top{
    text-align: center;
    padding: 40px 0px;
}
.offer_top h2{}
.offer_top p{}
.offer_bottom{

}
.all_offer_items{}
.offer_items{
    width: 230px;
    float: left;
    margin-left: 40px;
    border: 4px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    padding: 5px;
    transition: 1s;
}
.offer_items:hover{
    transform: scale(1.2);
}
.offer_items img{
    width: 100%;
    height: 150px;
}
.offer_text{
    width: 80%;
    float: left;
}
.offer_text h3{}
.offer_text h4{}
.offer_icon{
    width: 10%;
    float: right;
}
.offer_icon i{}

/*row5 css is end*/
